* {
    box-sizing: border-box;
}

body {
    background: black;
    font-size: 3.2vw;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 2vw;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

main {
    max-width: 500px;
    margin: 0 auto;
}

.board {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.board__board {
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(7, 1fr);
    position: absolute;
    width: 100%;
    height: 100%;
}

.board__title {
    background: #000;
    color: white;
    font-size: 3.3em;
    font-weight: bold;
    grid-area: 3 / 2 / span 1 / span 3;
    line-height: 1.34em;
    height: 100%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transition: transform 200ms, opacity 200ms;
    width: 100%;
    z-index: 5;
}

.board__square {
    background: 50% 0 / 300% url('./assets/animals.png') no-repeat;
    image-rendering: pixelated;
    transition: transform 200ms, opacity 200ms;
    animation: fadeIn 500ms;
    opacity: .9;
    padding-bottom: 100%;
}

.board__square_active {
    opacity: 1;
    transform: scale(1.2, 1.2);
}

.board__square_inactive {
    opacity: .6;
}

.board__square_type_0 {
    background-position-x: 0;
}

.board__square_type_1 {
    background-position-x: 50%;
}

.board__square_type_2 {
    background-position-x: 100%;
}

.board__square_hidden {
    animation: fadeOut 500ms;
    opacity: 0;
}

.board__square_ready {
    animation: jump 300ms infinite alternate-reverse, fadeIn 500ms;
}

.actions {
    float: left;
    margin: 1.6vw;
}

.actions__start {
    color: #ccc;
    cursor: pointer;
    font-size: 1.4em;
    margin-top: 0;
    text-transform: uppercase;
    user-select: none;
}

.actions__start_highlight {
    animation: jump 300ms infinite ease-in 2s alternate;
}

.stat {
    text-align: right;
    margin: 1.6vw;
}

.stat__title {
    color: #ccc;
    text-transform: uppercase;
    font-size: 1.4em;
}

.stat__value {
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: right;
}

@media (min-width: 500px) {
    body {
        font-size: 16px;
        margin: 10px;
    }

    .actions, .stats {
        margin: 8px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(.1, .1);
    }

    to {
        opacity: .9;
        transform: scale(1, 1);
    }
}

@keyframes fadeOut {
    from {
        opacity: .9;
        transform: scale(1, 1);
    }

    to {
        opacity: 0;
        transform: scale(.1, .1);
    }
}

@keyframes jump {
    from {
        transform: translateY(2px);
    }

    to {
        transform: translateY(-2px);
    }
}
