* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

main {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.board {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.board__board {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
}

.board__square {
    background: 50% 0 / 300% url('./assets/animals.png') no-repeat;
    width: calc(100% / 7);
    height: calc(100% / 7);
    image-rendering: pixelated;
    opacity: .9;
    transition: transform 200ms, opacity 200ms;
}

.board__square_active {
    opacity: 1;
    transform: scale(1.2, 1.2);
}

.board__square_inactive {
    opacity: .6;
}

.board__square_animal_0 {
    background-position-x: 0;
}

.board__square_animal_1 {
    background-position-x: 50%;
}

.board__square_animal_2 {
    background-position-x: 100%;
}
