* {
    box-sizing: border-box;
}

html {
    font-size: .2vw;
    overflow: hidden;
}

@media (min-width: 500px) {
    html {
        font-size: 1px;
    }
}

body {
    background: black;
    font-size: 16rem;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

main {
    position: relative;
    height: calc(100% - 20rem);
    margin: 10rem auto;
    width: 480rem;

    & > div {
        height: 100%;
    }
}

.board {
    height: 480rem;
    padding-bottom: 100%;
    position: relative;

    &:not(&_title) {
        cursor: pointer;
    }

    &_tutorial {
        height: calc(480rem * 5 / 7);
        padding-bottom: calc(100% * 5 / 7);
    }

    &__square {
        float: left;
        height: calc(480rem / 7.01);
        width: calc(480rem / 7.01);
    }

    &__title {
        background: #000;
        color: white;
        font-size: 3.3em;
        font-weight: bold;
        line-height: 1.34em;
        height: calc(480rem / 7);
        position: absolute;
        top: calc(480rem / 7 * 2);
        left: calc(480rem / 7 * 1);
        text-align: center;
        text-transform: uppercase;
        width: calc(480rem / 7 * 3);
        z-index: 5;
    }
}

.square {
    background: none;
    border: none;
    height: 100%;
    padding: 0;
    width: 100%;
    image-rendering: pixelated;
    opacity: .9;
    transition: transform 500ms, opacity 500ms;

    &::before {
        background: 50% 0 / 300% url('./assets/animals.png') no-repeat;
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    &_active {
        opacity: 1;
        transform: scale(1.2, 1.2);
    }

    &_inactive {
        opacity: .6;
    }

    &_type_0::before {
        background-position: 0 0;
        filter: hue-rotate(calc(var(--hue0) * 1deg));
    }

    &_type_1::before {
        background-position: 50% 0;
        filter: hue-rotate(calc(var(--hue1) * 1deg));
    }

    &_type_2::before {
        background-position: 100% 0;
        filter: hue-rotate(calc(var(--hue2) * 1deg));
    }

    &_type_3::before {
        background: none;
    }

    &_hidden {
        opacity: 0;
        transform: scale(0, 0);
    }

    &_ready::before {
        animation: jump 300ms infinite alternate-reverse;
    }
}

.menu {
    align-content: space-between;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    font-size: 1rem;
    justify-content: space-between;
    margin: 8rem;

    &_main {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__block {
        flex-basis: 100%;
    }
}

.action {
    background: none;
    border: none;
    color: #ccc;
    cursor: pointer;
    font-size: 35rem;
    margin: 0 0 10rem;
    padding: 0;
    text-transform: uppercase;
    user-select: none;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.stat {
    &__title {
        color: #ccc;
        text-align: left;
        text-transform: uppercase;
        font-size: 30rem;
    }

    &__value {
        color: white;
        font-size: 42rem;
        text-align: right;
    }

    &__square {
        background: 50% 0 / 300% url('./assets/animals.png') no-repeat;
        background-position-x: 150%;
        float: right;
        height: 42rem;
        image-rendering: pixelated;
        margin-right: -4rem;
        margin-top: 4rem;
        width: 42rem;

        &_type_0 {
            background-position-x: 0;
            filter: hue-rotate(calc(var(--hue0) * 1deg));
        }

        &_type_1 {
            background-position-x: 50%;
            filter: hue-rotate(calc(var(--hue1) * 1deg));
        }

        &_type_2 {
            background-position-x: 100%;
            filter: hue-rotate(calc(var(--hue2) * 1deg));
        }
    }
}

.message {
    color: #ccc;
    font-size: 35rem;
    white-space: pre-line;
}

.slider {
    display: flex;
    margin-bottom: 20rem;

    &__square {
        width: 40rem;
    }

    &__bar-border {
        flex-grow: 1;
        height: 40rem;
        border: 4rem solid #ccc;
        margin-left: 10rem;
        position: relative;
    }

    &__bar {
        background-color: #ccc;
        height: 100%;
    }
}

.options-headline {
    color: #ccc;
    font-size: 35rem;
    margin-bottom: 20rem;
    text-transform: uppercase;
}

@keyframes jump {
    from {
        transform: translateY(.1em);
    }

    to {
        transform: translateY(-.1em);
    }
}
